<!DOCTYPE html>
<html class="has-background-info">
    <head>
        <head>
            <title>Last Watched! - Home</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <script src="resources/jquery-3.4.1.min.js"></script>
            <link rel="shortcut icon" href="resources/images/favicon.ico" />
            <link rel="stylesheet" href="resources/bulma.css" />
            <link rel="stylesheet" href="resources/show-cards.css" />
            <script src="https://kit.fontawesome.com/6f37713d68.js" crossorigin="anonymous"></script>
        </head>
    </head>
    <body>
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="resources/images/logo-home.png" title="LastWatched!" alt="Logo" />
                        </a>
                        <span id="navbar-burger" class="navbar-burger burger" data-target="navbar-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbar-menu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a href="/register" class="button is-light" id="button-register">
                                    <span class="icon">
                                        <i class="fa fa-user-plus"></i>
                                    </span>
                                    <span>Register</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a href="/login" class="button is-success" id="button-logout">
                                    <span class="icon">
                                        <i class="fa fa-sign-in-alt"></i>
                                    </span>
                                    <span>Log In</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <section class="hero is-info is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column rows is-5-tablet is-4-desktop is-5-widescreen has-text-centered">
                            <h1 class="title header is-size-3 has-text-centered">
                                Welcome!
                            </h1>
                            <div class="row">
                                <img src="resources/images/interface.png" />
                            </div>
                            <div class="row">
                                <p>
                                    Last Watched comes with an intuitive UI that helps you track the progress of your favorite shows. Catch up to the
                                    latest episodes anytime, anywhere!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
